/********* Shark And Rays **********/

#sub-sharks-and-rays, #sub-sharks-and-rays-biology-and-ecology, #sub-sharks-and-rays-biology-and-ecology-amazing-abilities, #sub-sharks-and-rays-biology-and-ecology-importance-of-food-web, #sub-sharks-and-rays-biology-and-ecology-reproduction,#sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-rays, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-sharks, #sub-sharks-and-rays-famous-faces-great-white-shark, #sub-sharks-and-rays-famous-faces-thresher-shark, #sub-sharks-and-rays-famous-faces-tiger-shark, #sub-sharks-and-rays-sharks-rays-and-us, #sub-sharks-and-rays-sharks-rays-and-us-attack, #sub-sharks-and-rays-sharks-rays-and-us-sharks-and-human-cultures{
  background:url('images/9-12/Animals/Shark_And_Rays/Shark_And_Rays.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-biology-and-ecology-teeth-and-diet{
  background:url('images/9-12/Animals/Shark_And_Rays/Biology_And_Ecology/Teeth_And_Diet/Teeth_And_Diet_BG_New.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-Elasmobranch-Evolution{
  background:url('images/9-12/Animals/Shark_And_Rays/Elasmobranch_Evolution/Elasmobranch_Evolution_BG_New.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks-megalodon{
  background:url('images/9-12/Animals/Shark_And_Rays/Elasmobranch_Evolution/Dawn_Of_Modern_Shark/Megalodon/Megalodong_BG_New.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-famous-faces{
  background:url('images/9-12/Animals/Shark_And_Rays/Famous_Faces/Famous_Faces.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-famous-faces-manta-ray {
  background:url('images/9-12/Animals/Shark_And_Rays/Famous_Faces/Manta_Ray/Manta_Ray_BG_New.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-famous-faces-whale-shark{
  background:url('images/9-12/Animals/Shark_And_Rays/Famous_Faces/Whale_Shark/Whale_Shark_BG_New.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-sharks-and-rays-sharks-rays-and-us-fishing-fining-and-future{
  background:url('images/9-12/Animals/Shark_And_Rays/Sharks_Rays_And_Us/Fishing_Finning_And_The_Future/Fff_BG_New.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

.plSharkAndRays, .psSharkAndRays, .bSharkAndRays, .fSharkAndRays {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.micbtnSharkAndRays {
  background:url('images/9-12/Animals/micani.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwSharkAndRays {
  background:url('images/9-12/Animals/rwani.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpsSharkAndRays {
  background:url('images/9-12/Animals/playani.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwSharkAndRays {
  background:url('images/9-12/Animals/fwani.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnSharkAndRays {
  background:url('images/9-12/Animals/menuani.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnSharkAndRays {
  background:url('images/9-12/Animals/mapani.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnSharkAndRays {
  background:url('images/9-12/Animals/mpointsani.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnSharkAndRays {
  background:url('images/9-12/Animals/ctrlpnlani.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnSharkAndRays {
  background:url('images/9-12/Animals/infoani.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnSharkAndRays {
  background:url('images/9-12/Animals/creditsani.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.navtitleholderSharkAndRays{
	width: 435px;
	height: 68px;
	position: absolute;
	top: 169px;
	left: 295px;
	text-align: center;
	line-height: 32px;
}

.navtitleholderSharkAndRays h1{
	text-transform: uppercase;
	color: #FFF;
	font-family: comic sans ms;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.bptitleholderSharkAndRays {
  width:627px;
  height:68px;
  text-align:center;
  line-height:28px;
  position:absolute;
  top:169px;
  left:194px;
}

.bptitleholderSharkAndRays h1
 {
  text-transform:uppercase;
  color: #FFFFFF;
  font-family:"comic sans ms";
  font-weight:bold;
  padding:0;
  margin:0;
}

.navSharkAndRays-content{
  position:absolute;
  left:305px;
  top:263px;
  width:410px;
  height:359px;
  /*overflow-y:scroll;*/
  overflow:auto;
  text-align:center;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  color:#000000;
}
.navSharkAndRays-content p {
  margin-top:0 !important;
}

.navSharkAndRays-content3 {
  position:absolute;
  left:59px;
  top:263px;
  width:920px;
  height:160px;
  overflow-y:scroll;
  text-align:left;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  color:#000000;
}

.bpcontentSharkAndRays{
  width:413px;
  height:356px;
  position:absolute;
  left:550px;
  top:266px;
  overflow:auto;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  text-align:left;
  color:#000000;
}

.bpcontentSharkAndRays-teethanddiet{
  width: 506px;
  height: 550px;
  position: absolute;
  left: 495px;
  top: 52px;
  overflow: auto;
  font-family: "comic sans ms";
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.bpcontentSharkAndRays-ElasmobranchEvolution{
  width: 482px;
  height: 550px;
  position: absolute;
  left: 60px;
  top: 92px;
  overflow: auto;
  font-family: "comic sans ms";
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.bpcontentSharkAndRays-Megalodon-left{
	width: 466px;
	height: 250px;
	position: absolute;
	left: 49px;
	top: 65px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
	float: left;
}

.bpcontentSharkAndRays-Megalodon-right{
	width: 446px;
	height: 283px;
	position: absolute;
	left: 530px;
	top: 62px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

.bpcontentSharkAndRays-FamousFaces{
    width: 245px;
	height: 350px;
	position: absolute;
	left: 61px;
	top: 90px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

.bpcontentSharkAndRays-MantaRay-top{
	width: 405px;
	height: 408px;
	position: absolute;
	left: 82px;
	top: 90px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}
.bpcontentSharkAndRays-MantaRay-down{
	width: 258px;
	height: 228px;
	position: absolute;
	left: 82px;
	top: 458px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

.bpcontentSharkAndRays-WhaleShark{
	width: 405px;
	height: 480px;
	position: absolute;
	left: 55px;
	top: 90px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

.bpcontentSharkAndRays-FishingFiningAndFuture{
	width: 460px;
	height: 247px;
	position: absolute;
	left: 56px;
	top: 83px;
	overflow: auto;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
}

#sub-sharks-and-rays .bptitleholder h1, #sub-sharks-and-rays-biology-and-ecology .bptitleholder h1, #sub-sharks-and-rays-biology-and-ecology-amazing-abilities .bptitleholder h1, #sub-sharks-and-rays-biology-and-ecology-importance-of-food-web .bptitleholder h1, #sub-sharks-and-rays-biology-and-ecology-reproduction .bptitleholder h1,#sub-sharks-and-rays-biology-and-ecology-teeth-and-diet .bptitleholder h1, #sub-sharks-and-rays-Elasmobranch-Evolution .bptitleholder h1, #sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks .bptitleholder h1, #sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks-megalodon .bptitleholder h1, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-rays .bptitleholder h1, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-sharks .bptitleholder h1, #sub-sharks-and-rays-famous-faces .bptitleholder h1, #sub-sharks-and-rays-famous-faces-great-white-shark .bptitleholder h1, #sub-sharks-and-rays-famous-faces-manta-ray .bptitleholder h1, #sub-sharks-and-rays-famous-faces-thresher-shark .bptitleholder h1, #sub-sharks-and-rays-famous-faces-tiger-shark .bptitleholder h1, #sub-sharks-and-rays-famous-faces-whale-shark .bptitleholder h1, #sub-sharks-and-rays-sharks-rays-and-us .bptitleholder h1, #sub-sharks-and-rays-sharks-rays-and-us-attack .bptitleholder h1, #sub-sharks-and-rays-sharks-rays-and-us-sharks-and-human-cultures .bptitleholder h1, #sub-sharks-and-rays-sharks-rays-and-us-fishing-fining-and-future .bptitleholder h1{
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#sub-sharks-and-rays .bptitleholder, #sub-sharks-and-rays-biology-and-ecology .bptitleholder, #sub-sharks-and-rays-biology-and-ecology-amazing-abilities .bptitleholder, #sub-sharks-and-rays-biology-and-ecology-importance-of-food-web .bptitleholder, #sub-sharks-and-rays-biology-and-ecology-reproduction .bptitleholder, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-rays .bptitleholder, #sub-sharks-and-rays-Elasmobranch-Evolution-the-first-sharks .bptitleholder, #sub-sharks-and-rays-famous-faces-great-white-shark .bptitleholder, #sub-sharks-and-rays-famous-faces-thresher-shark .bptitleholder, #sub-sharks-and-rays-famous-faces-tiger-shark .bptitleholder, #sub-sharks-and-rays-sharks-rays-and-us .bptitleholder, #sub-sharks-and-rays-sharks-rays-and-us-attack .bptitleholder, #sub-sharks-and-rays-sharks-rays-and-us-sharks-and-human-cultures .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 169px;
	left: 194px;
}

#sub-sharks-and-rays-famous-faces .bptitleholder{
	width: 285px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 50px;
	left: 13px;
	font-size: 11px;
}
	
#sub-sharks-and-rays-biology-and-ecology-teeth-and-diet .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 19px;
	left: 308px;
	font-size: 14px;
}

#sub-sharks-and-rays-Elasmobranch-Evolution .bptitleholder{
	width: 550px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 53px;
	left: 12px;
	font-size: 15px;
}

#sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 36px;
	position: absolute;
	top: 163px;
	left: 194px;
}

#sub-sharks-and-rays-Elasmobranch-Evolution-the-dawn-of-modern-sharks-megalodon .bptitleholder{
	width: 195px;
	height: 68px;
	text-align: center;
	line-height: 36px;
	position: absolute;
	left: 41px;
	font-size: 14px;
	top: 20px;
}

#sub-sharks-and-rays-famous-faces-manta-ray .bptitleholder{
	width: 245px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 56px;
	left: 42px;
	font-size: 13px;
}

#sub-sharks-and-rays-famous-faces-whale-shark .bptitleholder{
	width: 245px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 37px;
	left: 32px;
	font-size: 13px;
}

#sub-sharks-and-rays-sharks-rays-and-us-fishing-fining-and-future .bptitleholder{
	width: 450px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 40px;
	left: 55px;
	font-size: 11px;
}